.venv/
__pycache__/
*.pyc

.cache/
.streamlit/secrets.toml

data/
laporan/

notebook/*.ipynb
!notebook/CAPSTONE*.ipynb
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/

model/*.pth
!model/best_food_freshness_model.pth

TODO.md
